<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yen.androidappthesisyen" >

    <!-- Temporarily, for CursorListActivity -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- TODO is dit echt nodig?
     UPDATE wordt precies nergens toegepast?-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MasterDetailItemListActivity"
            android:label="@string/title_masterdetailitem_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yen.androidappthesisyen.MainActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".MasterDetailItemDetailActivity"
            android:label="@string/title_masterdetailitem_detail"
            android:parentActivityName=".MasterDetailItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yen.androidappthesisyen.MasterDetailItemListActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".CursorListActivity"
            android:label="@string/title_activity_cursor_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yen.androidappthesisyen.MainActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>


        <activity
            android:name=".PebbleAccelStreamActivity"
            android:label="@string/title_activity_pebble_accel_stream"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yen.androidappthesisyen.MainActivity" />
        </activity>


        <!-- portrait mode wordt geforceerd! -->
        <!-- android:configChanges="orientation"
            android:screenOrientation="portrait" -->
        TODO test of werkt zonder forceren -->
        <activity
            android:name=".PebblePointerActivity"
            android:label="@string/title_activity_pebble_pointer"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yen.androidappthesisyen.MainActivity" />
        </activity>


    </application>

</manifest>
