<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yen.androidappthesisyen" >

    <!-- Temporarily, for CursorListActivity -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <!-- For connecting to the Pebble™ smartwatch -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />



    <!-- voor COMPLEXE gesture detection -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--TODO stond aan maar is toch niet nodig?-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- For network access so gesture commands can be sent to the Linux (Ubuntu) server -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!-- Bijkomend voor MQTT service -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".eventueelnognuttig.MasterDetailItemListActivity"
            android:label="@string/title_masterdetailitem_list"
            android:parentActivityName=".main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".eventueelnognuttig.MasterDetailItemDetailActivity"
            android:label="@string/title_masterdetailitem_detail"
            android:parentActivityName=".eventueelnognuttig.MasterDetailItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".eventueelnognuttig.MasterDetailItemListActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>


        <!--TODO eventueel nog te gebruiken:-->
        <!--<activity-->
            <!--android:name=".eventueelnognuttig.CursorListActivity"-->
            <!--android:label="@string/title_activity_cursor_list"-->
            <!--android:parentActivityName=".main.MainActivity" >-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".main.MainActivity" />-->
            <!--<meta-data-->
                <!--android:name="android.support.UI_OPTIONS"-->
                <!--android:value="splitActionBarWhenNarrow" />-->
        <!--</activity>-->


        <!-- portrait mode wordt geforceerd! -->
        <!--
             android:configChanges="orientation"
            android:screenOrientation="portrait"
        -->



        <!-- TODO zien of dit wel nodig is want die AIDL dinges is mss overbodig? -->


        <activity
            android:name=".advancedrecognizer.AdvancedActivity"
            android:label="@string/title_activity_three_dollar_gesture"
            android:parentActivityName=".main.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>
        <activity
            android:name=".advancedrecognizer.DBManagerUIActivity"
            android:label="dbmanager"
            android:configChanges="orientation"
            android:screenOrientation="landscape">
        </activity>

        <service
            android:name=".pushnotificationlistener.MQTTService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
